body {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

 h2 {
   margin-top: 50px;
   margin-bottom: 50px;
 }

 h3 {
   margin-top: 30px;
   margin-bottom: 30px;
 }

 hr {
   margin-top: 20px;
 }

.maps {
  width: 250px;
}

.screen {
  padding-top: 60px;
  width: 300px;
}

#funzione {
  background-color: #F9F9F9;
}

#cademi {
  background-color: #F9F9F9;
}

.search, .letter, .male {
  width: 80%;
  max-width: 300px;
}

.profile, .secure, .flex {
  background-color: #438BCA;
  margin-top: 30px;
  padding: 50px;
  border-radius: 100%;
  height: 250px;
  width: 250px;
}

@media all and (min-width: 993px) {

}

@media screen and (min-width: 769px) and (max-width: 992px) {

.search, .letter, .male{
  padding: 30px;
}

#lezioni .col-xs-12 {
  background-color: #597293;
  color: white;
}
 }

@media screen and (max-width: 768px) {

  #lezioni .col-xs-12 {
    background-color: #597293;
  }

#cademi {
  background-color: #438BCA;
  color: white;
}

  .description {
    padding: 20px;
  }
}
